* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Helvetica Neue';
}

html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}